body {
  padding: 0;
  margin: 0 auto;
  background-color: white;
}




.wrapper {
  width: 90%;
  margin-left: 5%;
}

.title {
  font-family: 'Roboto', sans-serif;
  margin-left: 60px;

}

.title h1 {
  border-color: green;
  border-width: 10px;
}

.landing-image {
  padding: 0;
  width: 100%;
  z-index: -1;
  display: inline;
  object-fit: cover;
}
